# Data Processing and Analysis
pandas
openpyxl
numpy<2
numba<0.60

# Machine Learning
scikit-learn
joblib
torch
pytorch-tabnet
shap
lime

# Visualization
matplotlib
seaborn

# Bluetooth Low Energy
bleak

# Web Application
streamlit

# OpenAI Integration
openai
python-dotenv

# Testing
pytest
pytest-asyncio
pytest-cov
