# Data Processing and Analysis
pandas
openpyxl
numpy<2
numba<0.60; python_version < "3.13"

# Machine Learning
scikit-learn
joblib
torch
pytorch-tabnet
shap
lime

# Visualization
matplotlib
seaborn
plotly

# Bluetooth Low Energy
bleak

# Web Application
streamlit>=1.28,<1.32; python_version < "3.9"
streamlit>=1.34.0; python_version >= "3.9"
altair>=5

# OpenAI Integration
openai
python-dotenv

# Testing
pytest
pytest-asyncio
pytest-cov
